div
{
    width: 400px;
    height: 400px;
    background-color: cyan;
    border: groove gold 20px;
    background-image: url("../../000-img/car.jpg");
    background-size: cover;
    background-repeat: no-repeat;


}